$boardColor: lightgray;
$addButtonColor: #2b4074;
$hoverColor: red;

.myBoards,
.board {
  position: relative;
}

.myBoards {
  display: flex;
  flex-wrap: wrap;
}

.board {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 2px solid $boardColor;
  background-color: $boardColor;
  color: $addButtonColor;
  border-radius: 8px;
}

.addButton {
  margin: 20px;
  border: 2px solid $addButtonColor;
  border-radius: 2px;
  background-color: $addButtonColor;
  color: white;

  &:hover {
    background-color: $hoverColor;
    border: 2px solid $hoverColor;
  }
}



.spanDelete,
.spanNoCreate {
  color: $hoverColor;
}

.boardMenu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.menu-item {
  padding: 5px;
  height: 28px;
  border: 1px solid rgb(187, 187, 187);

  &:hover {
    color: $hoverColor;
  }
}


.menu-item,
.addButton,
.spanDelete,
.spanNoCreate,
.boardMenu {
  cursor: pointer;
}
