.buttonAddCard,
.buttonAddList,
.listMenu,
.cardMenu,
.menu-item,
.closeModal,
.spanDelete,
.spanNoCreate {
  cursor: pointer;
  border-radius: 2px;
}

.lists {
  white-space: nowrap;
  overflow: auto;
}

.myList,
.modalCreateList {
  position: relative;
  display: inline-grid;
  width: 250px;
  min-height: 50px;
  background-color: lightgray;
  opacity: 1;
  text-align: left;
  color: #2b4074;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
  white-space: normal;
}

.modalCreateList,
.modalCreateCard {
  margin: 20px 5px;
}

.buttonAddCard,
.buttonAddList {
  background-color: lightgray;
  color: #2b4074;
  border: 2px solid lightgray;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCreateList:hover,
.modalCreateCard:hover {
  background-color: red;
  border: 2px solid red;
}

form > * {
  padding: 0 3px;
  margin: 0 5px 0 0;
  outline: none;
  resize: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cards {
  position: relative;
  width: 88%;
  margin: 5px 5%;
}

.cards > * {
  margin: 5px 0;
}

.container {
  position: relative;
  margin: 10px 0;
}

.card {
  position: relative;
  width: 100%;
  min-height: 30px;
  background-color: white;
  border-radius: 4px;
}

.card span {
  margin: 0 5px;
}

.dropZone {
  width: 100%;
  background-color: red;
  min-height: 30px;
  box-shadow: 0 4px 3px darkgrey;
  z-index: 5;
  border-radius: 4px;
}

/* .container:hover .dropZone {
  display: block;
} */

.hidden {
  display: none;
}

.spanDelete,
.spanNoCreate,
.closeModal {
  color: red;
}

.listMenu {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.cardMenu {
  position: absolute;
  top: 0;
  right: 0px;
  width: 20px;
  height: 20px;
}

.listMenu:hover,
.cardMenu:hover {
  background-color: gray;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background: gray;
}
.menu-item {
  padding: 5px;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
}
.menu-item:hover {
  color: red;
}

.icons {
  margin: 5px;
}

.modalEditCard {
  width: 80%;
  height: 80%;
  background-color: gray;
  opacity: 1;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 100;
}

.closeModal {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
  background-color: gray;
  border-radius: 50%;
}

.dragging {
  opacity: 0.1;
}
